<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
					<key>NSMicrophoneUsageDescription</key>
    <string>We need access to your microphone to record audio feedback for bug reports.</string>
    
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to attach images to bug reports.</string>
    
    <key>NSCameraUsageDescription</key>
    <string>We need access to your camera to capture screenshots and images for bug reports.</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
