.github/
.circleci/

*.iml
.idea/
.DS_Store

android/.DS_Store
android/android.iml
android/gradlew
android/gradlew.bat
android/local.properties
android/.project
android/.settings
*Test.java

ios/.DS_Store

build/
example/
node_modules/
coverage/
test/

Dangerfile
babel.config.js
codecov.yml
.prettierrc.js